body {
    font-family: fantasy;
}

header {
    padding: 0.8em;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header h1 a {
    text-decoration: none;
    color: #fff;
}

.header-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    align-content: center;
}

.header-navigation-list-element {
    padding: 0.75em;
    pointer-events: none;
}

.header-navigation-list-element a {
    text-decoration: none;
    color: #fff;
    pointer-events: auto;
}

/* aタグをhoverした際、親要素の装飾追加 */
.header-navigation-list-element:hover{
    background-color: #ffffff9c;
    border-radius: 1.5px;
}

/* aタグをhoverした際、aタグの装飾追加 */
.header-navigation-list-element a:hover {
    color: rgb(248, 65, 65);
}

/* レスポンシブ対応 */
/* スマホレイアウト */
@media screen and (max-width: 375px) {
    .header-navigation {
        display: none;
    }

    /* ハンバーガーメニュー追加 */
}

/* タブレットレイアウト */
@media screen and (max-width: 768px) {
    
}