body {
    font-family: fantasy;
}

header {
    padding: 0.8em;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header h1 a {
    text-decoration: none;
    color: #fff;
}

.header-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    align-content: center;
}

.header-navigation-list-element {
    padding: 0.75em;
    pointer-events: none;
}

.header-navigation-list-element a {
    text-decoration: none;
    color: #fff;
    pointer-events: auto;
}

.header-navigation-mobile {
    display: none;
}

/* aタグをhoverした際、親要素の装飾追加 */
.header-navigation-list-element:hover{
    background-color: #ffffff9c;
    border-radius: 1.5px;
}

/* aタグをhoverした際、aタグの装飾追加 */
.header-navigation-list-element a:hover {
    color: rgb(248, 65, 65);
}

/* レスポンシブ対応 */
/* スマホレイアウト */
@media screen and (max-width: 375px) {
    html {
        /* 画面全体のフォントサイズ比率をPCの75%に変更 */
        font-size: 75%;
    }

    .header-navigation {
        display: none;
    }

    /* ハンバーガーメニュー追加 */
    .header-navigation-mobile {
        display: block;
        width: 2rem;
    }

    .header-navigation-mobile-icon-container {
        padding: 0.25rem;
        height: 3rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-navigation-mobile-icon,
    .header-navigation-mobile-icon:before,
    .header-navigation-mobile-icon:after {
        position: absolute;
        display: block;
        content: '';
        height: 0.25rem;
        width: 1.5rem;
        background-color: #fff;
        border-radius: 3px;
    }

    .header-navigation-mobile-icon::before {
        top: -0.5rem;
    }

    .header-navigation-mobile-icon::after {
        bottom: -0.5rem;
    }
}

/* タブレットレイアウト */
@media screen and (max-width: 768px) {
    
}